@model RPMJoinery.Models.Project


<div class="container">

    <br />
    <br />

    <h2>Editing is not support at this time.</h2>


    

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $('#projects-link').addClass('active');
    </script>

}

