
<br />
<br />

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        About
        <small>RPM Joinery & Maintenance</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Home")">Home</a>
        </li>
        <li class="breadcrumb-item active">About</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-fluid rounded mb-4" src="../../img/rpmvan.jpg" alt="RPM Joinery Van">
        </div>
        <div class="col-lg-6">
            <p>RPM Joinery & Maintenance is a family owned and operated company that offer a wide range of home improvement, joinery and maintenance services. Our services range from domestic to commercial, and are always fairly priced and built to the highest possible standard.</p>
            <p>RPM are based in Dundee, but also provide services to the surrounding areas such as Fife and Angus with many satisfied customers from Errol, Kingoodie, Invergowrie and Longforgan. If you are unsure if we can provide our services in your area, give us a call on <b> 07970058622 </b> or <a href="@Url.Action("Contact","Home")">contact us</a> for further details.</p>
            <p>There are many reasons for choosing RPM Joinery to undertake work in your home.  We are highly rated by our customers for standard of quality in our work, but most importantly for the fair, personal service we offer.</p>
            <br />
            <div class="centerDiv">
                <h3>What Our Customers Say</h3>
                <h4><i>"Great time management. Would recommend."</i></h4>
                <h4><i>"Good price, pleasant and professional."</i></h4>
                <h4><i>"Work was done to a high standard."</i></h4>
                <a href="http://www.referenceline.com/carpenter_joiner-in-dundee-rpmjoineryandmaintenance-80571"> Read more of our customer reviews. </a> </p>
            </div>
        </div>
    </div>
    <!-- Certifications -->
    <br>
    <hr>
    <div class="row">
        <div class="col-lg-6">
            <h3> Dundee Trusted Trader Scheme </h3>
            <p> RPM Joinery & Maintenance is an accredited member of the Dundee Trusted Trader Scheme. </p>
            <p> The Dundee Trusted Trader scheme is a local business partnership aimed at increasing consumer confidence, promoting good practice within local small business, and helping protect citizens from doorstep crime. The scheme is managed and administered by Dundee City Council Trading Standards service.</p>
            <p> For more information please visit the <a href="http://www.referenceline.com/tradingstandards/dundee/"> Dundee Trusted Trader Scheme information site.</a> </p>
        </div>
        <div class="col-lg-4">
            <img class="img-fluid rounded mb-4" src="../../img/DttLogo2.png" alt="Dundee Trusted Trader Scheme Alternative Logo">
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <h3> Angus Reputable Trader Scheme </h3>
            <p> RPM Joinery & Maintenance is also an accredited member of the Anugs Reputable Trader Scheme. </p>
            <p>The Angus Reputable Trader Scheme (ARTS) supports local businesses while giving you peace of mind that the trader you are using can be trusted.</p>
            <p> By being a part of this scheme, you can expect the following from us:</p>
            <ul>
                <li>full disclosure of call out charges</li>
                <li>written quotations and written schedules of work</li>
                <li>to be consulted if the quotation price is likely to change</li>
                <li>to be consulted when the work schedule is likely to change</li>
                <li>a friendly, reasonably priced aftercare service </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <img class="img-fluid rounded mb-4" src="../../img/ArtsLogo2.png" alt="Angus Reputable Trader Scheme Alternative Logo">
        </div>
        <p> For more information please visit the <a href="https://www.angus.gov.uk/tradingstandards/angus_reputable_trader_scheme"> Angus Reputable Trader Scheme information site.</a></p>
    </div>
</div>
<br>
<br>
<!-- /.container -->

@section Scripts {
    <script type="text/javascript">
        $('#about-link').addClass('active');
    </script>
}
